# Eclipse
.classpath
.project
.settings/

# Maven
log/
target/

# Other
data/
/reports/
*.xlsx
*.txt
*.zip
*.bak
*.rej
*.csv
*.json
src/main/java/gov/epa/run_from_java/scripts/Rachel.java
.idea/
*.docx
*.iml
